@import "../colors.scss";
.cont{
  a{
    text-decoration: none;
  }
}
.button{
  background:$primaryColor;
  color:white;
  border-radius:5px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  min-width:80px;
  padding:12px 16px;
  font-size:16px;
  margin-top:16px;
  margin-bottom:4px;
  text-decoration:none;
}
.round{
  composes:button;
  text-decoration:none;
  background:rgba(0,0,0,0.1);
  color:#666;
  border-radius:999em;
}
.button-left{
  composes:button;
  margin-left:auto;
}
.block{
  composes:button;
  width:100%;
}
.link{
  color:$primaryColor;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  padding:8px 12px;
  font-size:16px;
  margin-top:4px;
  margin-bottom:4px;
}
.circle{
  composes:button;
  width:60px;
  height:60px;
  border-radius:999em;
}
