@import "../colors.scss";
.label{
  color:#666;
  font-size:19px;
  font-weight:300;
  margin-bottom:8px;
  display:block;
}
.nodes{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.node{
  background:rgba(0,0,0,0.06);
  padding:8px 16px;
  border-radius:5px;
  width:calc(50% - 8px);
  margin-bottom:16px;
  color:#666;
  display:flex;
  align-items: center;
  min-height:60px;
  &.selected{
    background:$primaryColor;
    color:white;
  }
  .switch_container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
  }
}
