@import "../../components/UI/colors.scss";


.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  .title{
    margin-top:16px;
    margin-bottom:8px;
  }
  .more_info{
    margin-top:32px;

  }
  .info{
    margin-top:8px;
    color:#666;
    font-size:14px;
  }

}
