@import "../../components/UI/colors.scss";


.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  .title{
    margin-top:16px;
    margin-bottom:8px;
  }
  .subtitle{
    font-size:19px;
    color:#666;
  }
  .more_info{
    margin-top:32px;

  }
  .info{
    margin-top:8px;
    color:#666;
    font-size:14px;
  }
  .timer_title{
    text-align: center;
    margin-top:32px;
  }
  .switch_container{
    padding:8px;
    border-radius:999em;
    margin-top:16px;
    background:$primaryColor;
  }
  .schedules_container{
    margin-top:24px;
    padding:16px;
    padding-bottom:8px;
    background:rgba(0,0,0,0.1);
    border-radius:15px;
    width:100%;
    margin-bottom:0px;
    .schedule{
      width:100%;
      margin-bottom:8px;
      color:#666;
      display:flex;
      align-items: center;
      .delete{
        margin-left:auto;
        border: 2px solid;
        border-radius: 999em;
        width: 30px;
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
