.container{
  display:flex;
  flex-direction: column;
  margin-bottom:16px;
  margin-top:8px;
}
.label{
  color:#666;
  font-size:19px;
  margin-bottom:16px;
  display:block;
  font-weight:300;
}
.input{
  width:100%;
  padding:8px 12px;
}
