$primaryColor:#3f51b5;
$secondaryColor:#607D8B; //grey
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background:#f4f4f4;
  max-width:450px;
  margin:0 auto;
}
